<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/project.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer_section">
            <div class="footer_container">
                <h1>contact</h1>
                <ul class="contact_list">
                    <a href=""><li><i class="fa-brands fa-battle-net"></i> 1234567890</li></a>
                    <a href=""><li><i class="fa-brands fa-battle-net"></i> Criiketersfox@gmail.com</li></a>
                    <a href=""><li><i class="fa-brands fa-battle-net"></i> Help</li></a>
                    <a href=""><li><i class="fa-brands fa-battle-net"></i> User support</li></a>
                </ul>
                <div class="social_logo">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </footer>
</body>
</html>