<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/project.css">
    <title>Document</title>
</head>
<body>
    <header class="header_section">
            <div class="logo_container">
                <h1 class="logo">CriiKeters</h1>
            </div>
            <div class="menu_container">
                <form action="/new">
                    <button class="post_button common_button"  type="submit">Post <i class="fa-solid fa-plus"></i></button>
                </form>
            </div>
        </header>
</body>
</html>